@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

html {
  font-family: Jost, sans-serif;
}

body {
  display: grid;
  grid-template: repeat(4, 25vh) / repeat(6, calc(100vw / 6));
}
.colorblock, .photo {
  overflow: hidden;
}
@media only screen and (min-aspect-ratio: 100/115) and (max-aspect-ratio: 135/100) { /* Medium aspect ratio */
  body {
    grid-template: repeat(4, 25vh) / repeat(4, calc(100vw / 4));
  }
}
@media only screen and (max-aspect-ratio: 100/115) { /* Narrow aspect ratio */
  body {
    grid-template: repeat(5, 20vh) / repeat(3, calc(100vw / 3));
  }
}


/* Header rules */
header {
  grid-area: 2 / 4 / span 1 / span 3;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: hsl(215, 70%, 20%);
}

h1 {
  font-size: 5.25vw;
  line-height: 1.1;
  color: hsl(215, 70%, 95%);
}

h1.medium {
  display: none;
}

@media only screen and (min-aspect-ratio: 100/115) and (max-aspect-ratio: 135/100) { /* Medium aspect ratio */
  header {
    grid-area: 2 / 3 / span 1 / span 2;
    justify-content: flex-start;
  }

  h1 {
    font-size: 7.5vw;
    margin-left: 4vw;
  }

  h1.wide {
    display: none;
  }

  h1.medium {
    display: initial;
  }
}

@media only screen and (max-aspect-ratio: 100/115) { /* Narrow aspect ratio */
  header {
    grid-area: 2 / 2 / span 1 / span 2;
    justify-content: flex-start;
  }

  h1 {
    font-size: 10vw;
    margin-left: 6vw;
    line-height: 1.2;
  }

  h1.wide {
    display: none;
  }

  h1.medium {
    display: initial;
  }
}


/* Button rules */
button {
  padding-top: 1rem;
  padding-bottom: 1rem;

  font-size: 2rem;
  line-height: 1.1;
  color: hsl(215, 70%, 10%);
}

button:hover, button:focus {
  opacity: 0.9;
}

button.contact {
  grid-area: 1 / 1 / span 1 / span 1;
  transition: opacity 0.5s ease;
}

button.skills {
  grid-area: 4 / 5 / span 1 / span 1;
  transition: opacity 0.5s ease;
}


/* Project rules */
div.photo {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.photo img {
  width: 400px;
  transition: width 0.3s ease;
}

div.photo img:hover, div.photo img:focus {
  width: 380px;
}

div.weather {
  grid-area: 3 / 3 / span 1 / span 1;
}

@media only screen and (min-aspect-ratio: 100/115) and (max-aspect-ratio: 135/100) { /* Medium aspect ratio */
  button.skills {
    grid-area: 4 / 3 / span 1 / span 1;
  }
  div.weather {
    grid-area: 3 / 2 / span 1 / span 1;
  }
}

@media only screen and (max-aspect-ratio: 100/115) { /* Narrow aspect ratio */
  button.skills {
    grid-area: 5 / 2 / span 1 / span 1;
  }
  div.weather {
    grid-area: 3 / 1 / span 1 / span 1;
  }
  button {
    font-size: 1.3rem;
  }
}

/* Contact rules */
div.contact a {
  min-width: 100%;
  min-height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

div.contact img {
  width: 2rem;
}

div.contact.email {
  grid-area: 1 / 2 / span 1 / span 1;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s ease, opacity 0.2s ease;
}

.colorblock.email {
  grid-area: 1 / 2 / span 1 / span 1;
}

div.contact.github {
  grid-area: 1 / 3 / span 1 / span 1;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s ease, opacity 0.2s ease;
}

.colorblock.github {
  grid-area: 1 / 3 / span 1 / span 1;
}

div.contact.linkedin {
  grid-area: 1 / 4 / span 1 / span 1;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s ease, opacity 0.2s ease;
}

.colorblock.linkedin {
  grid-area: 1 / 4 / span 1 / span 1;
}

@media only screen and (max-aspect-ratio: 100/115) { /* Narrow aspect ratio */
  div.contact.linkedin {
    grid-area: 2 / 1 / span 1 / span 1;
  }
  
  .colorblock.linkedin {
    grid-area: 2 / 1 / span 1 / span 1;
  }
}


/* Skills rules */
div.skills {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-around;

  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s ease, opacity 0.2s ease;
}

div.skills img {
  width: 2rem;
}
#express-logo {
  width: 6rem;
}

div.skills.html {
  grid-area: 4 / 4 / span 1 / span 1;
}

.colorblock.html {
  grid-area: 4 / 4 / span 1 / span 1;
}

div.skills.css {
  grid-area: 3 / 4 / span 1 / span 1;
}

.colorblock.css {
  grid-area: 3 / 4 / span 1 / span 1;
}

div.skills.js {
  grid-area: 3 / 5 / span 1 / span 1;
}

.colorblock.js {
  grid-area: 3 / 5 / span 1 / span 1;
}

div.skills.git {
  grid-area: 3 / 6 / span 1 / span 1;
}

.colorblock.git {
  grid-area: 3 / 6 / span 1 / span 1;
}

div.skills.node {
  grid-area: 4 / 6 / span 1 / span 1;
}

.colorblock.node {
  grid-area: 4 / 6 / span 1 / span 1;
}

@media only screen and (min-aspect-ratio: 100/115) and (max-aspect-ratio: 135/100) { /* Medium aspect ratio */
  div.skills.html {
    grid-area: 4 / 1 / span 1 / span 1;
  }
  
  .colorblock.html {
    grid-area: 4 / 1 / span 1 / span 1;
  }
  
  div.skills.css {
    grid-area: 4 / 2 / span 1 / span 1;
  }
  
  .colorblock.css {
    grid-area: 4 / 2 / span 1 / span 1;
  }
  
  div.skills.js {
    grid-area: 3 / 3 / span 1 / span 1;
  }
  
  .colorblock.js {
    grid-area: 3 / 3 / span 1 / span 1;
  }
  
  div.skills.git {
    grid-area: 3 / 4 / span 1 / span 1;
  }
  
  .colorblock.git {
    grid-area: 3 / 4 / span 1 / span 1;
  }
  
  div.skills.node {
    grid-area: 4 / 4 / span 1 / span 1;
  }
  
  .colorblock.node {
    grid-area: 4 / 4 / span 1 / span 1;
  }
}

@media only screen and (max-aspect-ratio: 100/115) { /* Narrow aspect ratio */
  div.skills.html {
    grid-area: 5 / 1 / span 1 / span 1;
  }
  
  .colorblock.html {
    grid-area: 5 / 1 / span 1 / span 1;
  }
  
  div.skills.css {
    grid-area: 4 / 1 / span 1 / span 1;
  }
  
  .colorblock.css {
    grid-area: 4 / 1 / span 1 / span 1;
  }
  
  div.skills.js {
    grid-area: 4 / 2 / span 1 / span 1;
  }
  
  .colorblock.js {
    grid-area: 4 / 2 / span 1 / span 1;
  }
  
  div.skills.git {
    grid-area: 4 / 3 / span 1 / span 1;
  }
  
  .colorblock.git {
    grid-area: 4 / 3 / span 1 / span 1;
  }
  
  div.skills.node {
    grid-area: 5 / 3 / span 1 / span 1;
  }
  
  .colorblock.node {
    grid-area: 5 / 3 / span 1 / span 1;
  }
}
