@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme&display=swap');

html {
  font-family: 'Pathway Extreme', sans-serif;
  color: white;
  background-color: black;

  @media (orientation: landscape) {
    --preview-width: 30vw;
    --columns: 1fr 1fr;
    --rows: 1fr;
    --column-one: 1 / 2;
    --column-two: 2 / 3;
    --all-columns: 1 / 3;
  }

  @media (orientation: portrait) {
    --preview-height: 30vh;
    --columns: 1fr;
    --rows: 1fr 1fr;
    --row-one: 1 / 2;
    --row-two: 2 / 3;
    --all-rows: 1 / 3;
  }

  @media (min-width: 800px) {
    --project-title-size: 2rem;
  }

  @media (min-width: 1200px) {
    --bullets-display: block;
    --description-justification: space-around;
  }

  @media (min-width: 1600px) {
    --project-title-size: 3rem;
  }
}

body {
  display: grid;
  grid-template-columns: var(--columns);
  grid-template-rows: var(--rows);
  place-items: center;
  height: 100vh;
  width: 100vw;
}

h2 {
  font-size: var(--project-title-size, 1.25rem);
  font-weight: 700;
}

h3 {
  color: #F47AB2;
}

h1, h2, h3, h4, h5, p {
  margin-bottom: 0.25rem;
  line-height: 1.2;
}

.title {
  grid-column: var(--all-columns, 1 / 2);
  grid-row: var(--all-rows, 1 / 2);
  width: 80vw;
}

/* .link {
  z-index: 2;
} */

.preview {
  position: relative;
  display: none;
  width: var(--preview-width);
  height: var(--preview-height);
}

.preview.one {
  grid-column: var(--column-one, 1 / 2);
  grid-row: var(--row-one, 1 / 2);
}

.preview.two {
  grid-column: var(--column-two, 1 / 2);
  grid-row: var(--row-two, 1 / 2);
}

.preview > .poly {
  width: 100%;
  height: 100%;
}

.preview > .description {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: var(--description-justification, center);
  padding: 30% 15%;
  text-align: center;
}

.preview > .description > .bullets {
  display: var(--bullets-display, none);
  text-align: left;
}
