@import './reset.css';
@import './global.css';

body {
  width: 100svw;
  height: 100svh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

main {
  position: relative;
  width: 100%;
  height: 100%;

  background: 
    radial-gradient(at var(--x1) var(--y1), hsl(333deg 100% 50% / 0.2), transparent),
    radial-gradient(at var(--x2) var(--y2), hsl(0deg 0% 100% / 0.1), transparent);
  
  animation-name: float1-around, float2-around;
  animation-duration: 30s, 39s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


h2 {
  font-size: 1.25rem;
  font-weight: 700;

  @media (min-width: 800px) {
    font-size: 2rem;
  }  

  @media (min-width: 1600px) {
    font-size: 3rem;
  }
}

h3 {
  color: #F47AB2;
}

.title-card {
  position: absolute;
  inset: 0;
  display: grid;
  place-content: center;

  transform: scale(1);
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

.projects-card {
  position: absolute;
  inset: 0;

  display: grid;
  @media (orientation: landscape) {
    /* 1 x 2 */
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }

  @media (orientation: portrait) {
    /* 2 x 1 */
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }

  place-items: center;
}

.title {
  width: 80svw;
}

.project {
  position: relative;

  height: 30svmax;
  width: 30svmax;
}

.project.one {
  transform: translateX(-50svmax);

  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 1s;
}

.project.two {
  transform: translateX(50svmax);

  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 1s;
}

.project .poly {
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;

  opacity: 0.5;
}

.project > .description {
  position: absolute;
  inset: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30% 15%;
  text-align: center;

  @media (min-width: 1200px) {
    justify-content: space-around;
  }

  pointer-events: none;
}

.project > .description > .bullets {
  display: none;
  text-align: left;

  @media (min-width: 1200px) {
    display: block;
  }
}

.bayes {
  position: absolute;
  top: 1rem;
  right: 1rem;

  opacity: 0;
  transition: opacity 500ms;
}

.grid-drawing {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  width: 3rem;
  height: 3rem;
  border: 0.5px solid hsl(0deg, 0%, 15%);
  border-radius: 5px;
  overflow: hidden;
}

.grid-drawing > * {
  border: 0.5px solid hsl(0deg, 0%, 15%);
}


@keyframes float1-around {
  0% {
    --x1: 10%;
    --y1: 10%;
  }

  33% {
    --x1: 30%;
    --y1: 60%;
  }

  66% {
    --x1: 90%;
    --y1: 30%;
  }
}

@keyframes float2-around {
  0% {
    --x2: 90%;
    --y2: 90%;
  }

  33% {
    --x2: 75%;
    --y2: 25%;
  }

  66% {
    --x2: 25%;
    --y2: 90%;
  }
}
