@import './reset.css';
@import './global.css';

body {
  display: grid;
  /* 1 x 1 */
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  /* fill viewport */
  height: 100svh;
  width: 100svw;
}

h2 {
  font-size: 1.25rem;
  font-weight: 700;

  @media (min-width: 800px) {
    font-size: 2rem;
  }  

  @media (min-width: 1600px) {
    font-size: 3rem;
  }
}

h3 {
  color: #F47AB2;
}

.title-card {
  /* fill cell */
  grid-row: 1 / 2;
  grid-column: 1 / 2;

  display: grid;
  /* 1 x 1 */
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  place-items: center;

  transform: scale(1);
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

.projects-card {
  /* fill cell */
  grid-row: 1 / 2;
  grid-column: 1 / 2;

  display: grid;
  @media (orientation: landscape) {
    /* 1 x 2 */
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }

  @media (orientation: portrait) {
    /* 2 x 1 */
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }

  place-items: center;
}

.title {
  width: 80svw;
}

.project {
  display: grid;
  /* 1 x 1 */
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;

  height: 30svmax;
  width: 30svmax;
}

.project.one {
  transform: translateX(-50svmax);

  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 1s;
}

.project.two {
  transform: translateX(50svmax);

  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 1s;
}

.project > .poly {
  /* fill cell */
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  width: 100%;
  height: 100%;
}

.project > .description {
  /* fill cell, on top */
  grid-row: 1 / 2;
  grid-column: 1 / 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30% 15%;
  text-align: center;

  @media (min-width: 1200px) {
    justify-content: space-around;
  }
}

.project > .description > .bullets {
  display: none;
  text-align: left;

  @media (min-width: 1200px) {
    display: block;
  }
}
